shamefully-hoist=true
# 啟用此選項時，pnpm 會將所有依賴項提升到頂層 node_modules 資料夾中，類似於 npm 或 Yarn 的行為。
# 這對於某些需要扁平化依賴結構的舊版工具或專案可能很有用，但會失去 pnpm 的隔離依賴優勢。

strict-peer-dependencies=false
# 當設置為 false 時，pnpm 不會因為 peerDependencies 不匹配而報錯。
# 這允許安裝過程更寬鬆，適合處理一些未正確聲明 peerDependencies 的套件。
